.hero {
  display: flex;
  align-items: center;
}

.hero-detail {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    margin: 0;
  }

  .sub-text {
    color: $grey;

    margin: 1rem auto;
    max-width: 80%;
    text-align: center;
  }
}

.material-btn {
  margin-top: 1.5rem;
}

.hero-image {
  margin: 0.5rem;
  pointer-events: none;
}
