#process {
  h2 {
    text-align: center;
  }

  .info-detail {
    align-items: center;
    display: flex;
    margin: 3rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }
  }
}

.steps {
  position: relative;
  margin-top: 1.5rem;
}

.step {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  margin-right: 2rem;

  svg {
    margin-bottom: 1rem;
  }
}

.dashed {
  position: absolute;
  top: 3rem;
  left: 10rem;
}
