*.docx
*.vpp
*.vux
*.zip
*.log
*.log.*
node_modules
.DS_Store
npm-debug.log
.env
*.js.map

coverage
dist
public/styles/*
public/scripts/*
*.sass-cache
*.css.map
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
