.calendar {
  width: 100%;
  background-color: $bg;
}

.weekRow {
  width: 100%;
}

.dateColumn {
  position: relative;
  display: inline-block;
  border-right: 1px solid $border;
  height: 100%;
  vertical-align: top;
  padding: 0 0;

  &:last-of-type {
    border-right-width: 0;
  }

  .header {
    font-size: 12px;
    color: $grey;
    position: relative;

    &.today {
      font-weight: 600;
      color: darken($light-blue, 20%);
    }
  }
  &.weekView, .dayView {
    .header {
      height: 36px;
      z-index: 999;
      vertical-align: middle;
    }
  }
}

.calendarEvent {
  width: 100%;
  padding: 4px;
  font-size: 12px;

  overflow-y: hidden;

  text-align: left;
  transition: all 300ms ease-in-out;

  background-color: $light-blue;
}

// 4 day or weekly view
.dayView, .weekView {
  p.header {
    text-align: center;
    padding: 12px 0px 0px;
  }

  &::before {
    content: '';
    position: absolute;
    height: 36px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  .calendarEvent {
    padding-left: 8px;
    padding-right: 8px;

    &::before {
      content: '';
      position: absolute;
      height: 4px;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

.monthView {
  border-bottom: 1px solid $border;

  .header {
    text-align: left;
    padding-left: 7px;
    margin-top: 8px;
  }
}
