/* Color */
$black: #333;
$grey: #757575;
$dark-grey: darken($grey, 20);
$light-grey: lighten($grey, 20);
$bg: #e9e9e9;
$green: #4caf50;
$border: #dbdbdb;

/* Typography */
$baseFontSize: 18; // in pixels. This would result in 22px on desktop
$baseLineHeight: 1.5; // how large the line height is as a multiple of font size
$leading: $baseLineHeight * 1rem;
$serif: 'Georgia', 'Times New Roman', serif;
$sans-serif: 'San Francisco', 'BlinkMacSystemFont', -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
// Rate of growth for headings
$scale: 1.414;
